
/* font of the heading "multipurpose TOdo App */
.km1 {
  font-size: 40px!important;
  font-family: 'Fredericka the Great';
  font-weight: bold;
}
/* fonts of the subheading */

.fontsbypj {
  font-family: 'Montserrat Alternates';
  text-align: center;
  font-weight: bold;
}

